@font-face{
    font-family: 'MiFuente1';
    src: url(../fonts/Lexend/static/Lexend-Medium.ttf);
}

@font-face{
    font-family: 'MiFuente2';
    src: url(../fonts/Lexend/static/Lexend-Regular.ttf);
}

body{
    background-image: url(../resources/cute-glowing-love-heart-art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.infoprincipal{
    font-family: MiFuente1;
    text-align: center;
    color: white;
}

.infotext{
    font-family: MiFuente2;
    text-align: justify;
    color: white;
}

.boton{
    font-family: MiFuente2;
    width: 70px;
}